################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.opendb
*.filters
*.user
/TSFix.VC.db
/src/TSFix.aps
/src/Release/XzIn.obj
/src/Release/XzEnc.obj
/src/Release/XzDec.obj
/src/Release/XzCrc64Opt.obj
/src/Release/XzCrc64.obj
/src/Release/Xz.obj
/src/Release/window.obj
/src/Release/vc140.pdb
/src/Release/vc140.idb
/src/Release/TSFix.tlog/TSFix.write.1u.tlog
/src/Release/TSFix.tlog/TSFix.lastbuildstate
/src/Release/TSFix.tlog/rc.write.1.tlog
/src/Release/TSFix.tlog/rc.read.1.tlog
/src/Release/TSFix.tlog/rc.command.1.tlog
/src/Release/TSFix.tlog/link.write.1.tlog
/src/Release/TSFix.tlog/link.read.1.tlog
/src/Release/TSFix.tlog/link.command.1.tlog
/src/Release/TSFix.tlog/CL.write.1.tlog
/src/Release/TSFix.tlog/CL.read.1.tlog
/src/Release/TSFix.tlog/CL.command.1.tlog
/src/Release/TSFix.log
/src/Release/tsfix.Build.CppClean.log
/src/Release/timing.obj
/src/Release/Threads.obj
/src/Release/textures.obj
/src/Release/Sort.obj
/src/Release/Sha256.obj
/src/Release/render.obj
/src/Release/Ppmd7Enc.obj
/src/Release/Ppmd7Dec.obj
/src/Release/Ppmd7.obj
/src/Release/parameter.obj
/src/Release/MtCoder.obj
/src/Release/LzmaLib.obj
/src/Release/LzmaEnc.obj
/src/Release/LzmaDec.obj
/src/Release/Lzma86Enc.obj
/src/Release/Lzma86Dec.obj
/src/Release/Lzma2Enc.obj
/src/Release/Lzma2Dec.obj
/src/Release/LzFindMt.obj
/src/Release/LzFind.obj
/src/Release/log.obj
/src/Release/input.obj
/src/Release/ini.obj
/src/Release/hook.obj
/src/Release/dllmain.obj
/src/Release/Delta.obj
/src/Release/CpuArch.obj
/src/Release/config.obj
/src/Release/command.obj
/src/Release/BraIA64.obj
/src/Release/Bra86.obj
/src/Release/Bra.obj
/src/Release/Bcj2Enc.obj
/src/Release/Bcj2.obj
/src/Release/Alloc.obj
/src/Release/AesOpt.obj
/src/Release/Aes.obj
/src/Release/achievements.obj
/src/Release/7zVersion.res
/src/Release/7zStream.obj
/src/Release/7zFile.obj
/src/Release/7zDec.obj
/src/Release/7zCrcOpt.obj
/src/Release/7zCrc.obj
/src/Release/7zBuf2.obj
/src/Release/7zBuf.obj
/src/Release/7zArcIn.obj
/src/Release/7zAlloc.obj
/src/Debug/TSFix.tlog/unsuccessfulbuild
/src/Debug/TSFix.tlog/TSFix.lastbuildstate
/src/Debug/TSFix.tlog/CL.command.1.tlog
/src/Debug/TSFix.log
/src/Debug/tsfix.Build.CppClean.log
/include/lzma/7zVersion.aps
/.vs/TSFix/v14/.suo
